.contact-page {
  flex-direction: column;
  padding: 20px;
  background-color: #323F5E;
  color: #E7FF7D;
  width: calc(55% - 50px);
  height: 100%; 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divider {
  border: 1px solid #E7FF7D;
  width: 100%;
  margin: 35px auto;
}

.toggle-inquiries {
  display: block;
  margin: 10px auto;
  padding: 15px 50px;
  width: 85%;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.yellow-button {
  background-color: #E7FF7D;
  color: #323F5E;
}

.blue-button {
  background-color: #34495E;
  color: #E7FF7D;
  border: #E7FF7D 1px solid;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  color: #E7FF7D;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #E7FF7D;
  border-radius: 5px;
  background-color: #2C3E50;
  color: #E7FF7D;
}

input, textarea {
  width: 97%;
}

select {
  width: 100%;
}


textarea {
  resize: none;
  height: 100px;
}

.checkbox-group {
  flex-direction: row; 
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin-bottom: 50px;
  margin-right: 5px;
}

/* Ensure labels in checkbox group align visually */
.checkbox-group label {
  margin: 0;
}

/* Input styling for checkbox */
.checkbox-group input[type="checkbox"] {
  width: 15px;
}

.send-button {
  padding: 15px 50px;
  width: 85%;
  background-color: #E7FF7D;
  font-weight: bold;
  color: #323F5E;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #c4e66b;
}

.inquiry-list {
  margin-top: 20px;
}

.inquiry-header,
.inquiry-summary {
  display: grid;
  grid-template-columns: 8fr 5fr 5fr 1fr;
  align-items: center;
  border-bottom: 1px solid #E7FF7D;
  padding: 10px 0;
}

.inquiry-header{
  font-weight: bold;
}

.inquiry-row {
  background-color: #2C3E50;
  margin-bottom: 10px;
  padding: 10px;
}

.inquiry-summary span {
  text-align: left;
}

.inquiry-summary button {
  text-align: middle;
  background-color: transparent; 
  text-align: right;
  color: #E7FF7D; 
  border: none; 
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  transition: color 0.3s ease;
}

.inquiry-summary button:hover {
  color: #c4e66b;
}

.inquiry-details {
  margin-top: 10px;
  background-color: #34495E;
  padding: 10px;
  border-radius: 5px;
}

.detail-item {
  margin-bottom: 10px;
}

.detail-item strong {
  display: block;
  margin-bottom: 5px;
  color: #E7FF7D;
}

.detail-item p {
  margin: 0;
  color: #FFFFFF;
}

.notification-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
  color: white;
  z-index: 1000;
}

.notification-banner.success {
  background-color: #4caf50;
}

.notification-banner.error {
  background-color: #f44336;
}

.filter-buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 15px;
}

.filter-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  border: 1px solid #E7FF7D;
  background-color: #323F5E;
  color: #E7FF7D;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #E7FF7D;
  color: #323F5E;
}

.filter-button.active {
  background-color: #E7FF7D;
  color: #323F5E;
}

/* Mobile styling */
@media (max-width: 768px) {
  .contact-page {
    width: calc(95% - 35px);
    margin-left: 20px;
  }

  .checkbox-group label {
    font-size: 13px;
  }

  .send-button {
    width: 100%;
  }

  .toggle-inquiries {
    width: 100%;
  }

  .inquiry-list {
    font-size: 13px;
  }
}
