.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323f5e;
    padding: 50px;
    min-height: 100vh;
  }
  
  h2 {
    color: #ffffff;
  }
  
  .form {
    margin: 20px 0;
  }
  
  .form input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #e7ff7d;
    border-radius: 4px;
  }
  
  .form button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #e7ff7d;
    color: #323f5e;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .form button:hover {
    background-color: #E7FF7D;
  }
  
  .user-list {
    width: 100%;
    max-width: 800px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #e7ff7d;
    color: #323f5e;
    font-weight: bold;
    border-bottom: 2px solid #323f5e;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .editable-input {
    border: none;
    background-color: transparent;
    color: #323f5e;
    width: 100%;
  }
  
  .editable-input:disabled {
    color: #323f5e;
  }
  
  td button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #e7ff7d;
    color: #323f5e;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  td button:hover {
    background-color: #E7FF7D;
  }