/* Ensure the body takes the full height of the viewport */
body, html {
    height: 100%;
    margin: 20px;
    padding: 0;
}

.home {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
}

.home-button-container {
    display: inline-block;
    text-align: center;
    gap: 15px;
}

.home-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #E7FF7D;
    color: #323F5E;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 200px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #D6EE6C;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}