body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #323F5E;
}

/* Main container for the home page */
.home {
    width: 100%;
    height: 90%;
    text-align: center;
    padding-top: 20px;
}

/* Flexbox container for buttons and logo */
.home-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

/* Buttons with dynamic background animation */
.home-button {
    display: block;
    padding: 15px 20px; /* Adjust padding for bigger buttons */
    color: #323F5E; /* Text color */
    background-color: #e7ff7d; /* Light greenish-yellow background */
    border: 5px solid #e7ff7d; /* Border matches the background */
    cursor: pointer;
    font-size: 1.5rem; /* Larger text */
    width: 65%;
    height: 65px;
    font-weight: bold; /* Make labels bold */
    text-decoration: none;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Smooth transitions */
}


/* Hover effect for buttons */
.home-button:hover {
    transform: scale(1.05); /* Slightly enlarge */
    background-color: #323F5E; /* Dark blue-gray background */
    color: #e7ff7d; /* Light greenish-yellow text color */
    border-color: #e7ff7d; /* Change border color to match the text */
}

/* Logo styling */
.logo {
    width: 400px;
    margin-bottom: 30px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .home-button-container {
        gap: 25px;
        padding-top: 15px;
    }
    .home-button {
        width: 80%; /* Make buttons wider on smaller screens */
        font-size: 1.2rem; /* Slightly smaller font size */
        height: 40px; /* Reduce button height */
        padding: 10px 15px; /* Adjust padding for smaller buttons */
        border: 3px solid #e7ff7d; /* Light greenish-yellow border */
    }

    .logo {
        width: 200px; /* Reduce logo size for smaller screens */
    }
}