/* General page styling */
.reservation-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #e7ff7d;
    width: calc(80% - 50px);
    margin: 0 auto;
    background-color: #323f5e;
    height: 100%;
}

.date-picker {
    margin-bottom: 20px;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.date-picker .react-datepicker-wrapper {
    width: 50%;
}

.date-picker .react-datepicker__input-container input {
    width: 100%;
    font-size: 1.0rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e7ff7d;
    background-color: #323f5e;
    color: #e7ff7d;
}

/* General Timetable Styling */
.reservation-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    color: #e7ff7d;
    table-layout: fixed; /* Ensure equal column widths by default */
}

/* Table headers and cells */
.reservation-table th,
.reservation-table td {
    padding: 5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Table header styling */
.reservation-table th {
    background-color: #323f5e;
    border: 1px solid #e7ff7d;
    color: #e7ff7d;
    font-size: 0.8rem;
}

/* Table cells styling */
.reservation-table td {
    font-size: 0.7rem; 
}

/* Table cells styling */
.reservation-table tr {
    width: 100%;
}

/* Table container */
.reservation-table-container {
    margin: 0 auto;
    max-width: 100%;
}

.availablepast {
    background-color: #ccc;
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid #e7ff7d;
}

.reservedpast {
    background-color: #d0aeae;
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid #e7ff7d;
}

.yourreservationspast {
    background-color: #a8cea8;
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid #e7ff7d;
}

.reserved {
    background-color: #ff5555;
    color: #74d56a;
    cursor: pointer;
    border: #323f5e 1px solid;

}

.available {
    background-color: #e7ff7d;
    border: #323f5e 1px solid;
    color: #323f5e;
    cursor: pointer;
}

.yourreservations  {
    background-color: #74d56a;
    border: 1px solid #e7ff7d;
    color: #323f5e;
    cursor: default;
}

.highlighted-cell {
    background-color: #74d56a;
    color: #e7ff7d;
    border: 2px solid #e7ff7d;
}

.hour-cell {
    background-color: #323f5e;
    color: #e7ff7d;
    cursor: not-allowed;
    border: 1px solid #e7ff7d;
}

/* Modal styling */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #323f5e;
    color: #e7ff7d;
    padding: 20px;
    border: 1px solid #e7ff7d;
    border-radius: 8px;
    width: 50%;
    text-align: center;
}

/* Add a common styling for buttons inside the modal */
.modal-content button {
    margin: 10px 5px; /* Add spacing between buttons */
    padding: 5px 15px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

/* Confirm button styling */
.modal-content button.confirm-button {
    background-color: #e7ff7d;
    color: #323f5e;
    border-color: #e7ff7d; /* Match the border with the background */
}

.modal-content button.confirm-button:hover {
    background-color: #323f5e;
    color: #e7ff7d;
    border-color: #e7ff7d;
}

/* Cancel button styling */
.modal-content button.cancel-button {
    background-color: #323f5e;
    color: #e7ff7d;
    border-color: #e7ff7d;
}

.modal-content button.cancel-button:hover {
    background-color: #e7ff7d;
    color: #323f5e;
    border-color: #323f5e;
}

/* Legend styling */
.legend {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.legend-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.legend-item.available {
    background-color: #e7ff7d;
    border: #323f5e 1px solid;
    color: #323f5e;
}

.legend-item.user-reserved {
    background-color: #323f5e;
    color: #e7ff7d;
    border: 1px solid #e7ff7d;
}

.legend-item.other-reserved {
    background-color: #ff5555;
    color: #323f5e;
    border: 1px solid #e7ff7d;
}

/* Reservation list styling */
.reservations-list {
    border-collapse: collapse;
    width: 100%;
    color: #e7ff7d;
}

.reservations-list th {
    background-color: #e7ff7d;
    color: #323f5e;
    cursor: pointer;
    text-align: center;
}

.reservations-list td {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #e7ff7d;
    font-size: 0.7rem;
    text-align: center;
}

.action-column {
    display: none;
}

.expanded-row {
    background-color: #3e4a66;
}

.expanded-content {
    padding: 10px;
    color: #e7ff7d;
    text-align: left;
}

.cancel-button {
    background-color: #e7ff7d;
    color: #323f5e;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    z-index: 1000;
}

.cancel-button:hover {
    background-color: #323f5e;
    color: #e7ff7d;
}

/* Hover row effect */
.hover-row:hover .cancel-button {
    display: inline-block;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .reservation-page {
        padding: 5px;
        margin: 0;
        align-items: flex-start;
        width: 100%;
    }

    .reservation-table-container {
        margin: 0 auto;
        max-width: 100%;
    }


    .reservation-table th,
    .reservation-table td {
        padding: 3px;
        max-width: 60px;
        min-width: 25px;
        font-size: 0.7rem;
    }


    .date-picker .react-datepicker__input-container input {
        font-size: 0.6rem;
        padding: 10px;
    }

    .reservations-list {
        font-size: 0.7rem;
    }

    .reservations-list td {
        padding: 5px;
        font-size: 0.7rem;
    }

    .legend {
        flex-direction: row;
        gap: 7px;
    }

    .legend-item {
        font-size: 0.6rem;
    }

    .h3 {
        font-size: 0.8rem;
    }

    .divider {
        margin: 20px auto;
    }

    .cancel-button {
        padding: 3px 7px;
        font-size: 0.7rem;
    }
}
